<%- include("../partials/header") %>
<div class="container">
	<div class="row">
		
		<h1 style="text-align: center;">Create A New Campground...</h1>
<!--Put an input form in a div with css style to group them together  -->
		<div style="width: 30%; margin: 50px auto;">
			<form action="/campgrounds" method="POST">
<!-- Put each input in a div.formgroup to give a little spacing between them	 -->
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="name">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="price" placeholder="price" >
				</div>
				<div class="form-group">
					<input class="form-control"type="text" name="image" placeholder="image url">
				</div>
				<div class="form-group">
					<input class="form-control"type="text" name="description" placeholder="description">
				</div>
				<div class="form-group">
					<input class="form-control"type="text" name="location" id="location" placeholder="Yosemite National Park, CA">
				</div>
				<div class="form-group">
					<button class= "btn btn-md btn-primary btn-block">Submit Campground!</button>
				</div>
			</form>	
<!-- Keep this link in the div to group this with the input -->
			<a href="/campgrounds">Go Back To Campgrounds.</a>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>