/*  HTML  */

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 10px !important;
}

@media (min-width: 390px) {
  :root {
    font-size: 14px !important;
  }
}

@media (min-width: 590px) {
  :root {
    font-size: 16px !important;
  }
}

@media (min-width: 790px) {
  :root {
    font-size: 18px !important;
  }
}

@media (min-width: 991px) {
  :root {
    font-size: 20px !important;
  }
}

html {
  box-sizing: border-box;

  ul {
    list-style: none;
  }
}

body {
  min-width: 252px;
  margin: 0;
  /* padding-top: 70px; */
  background-color: #797979;
  background-blend-mode: overlay;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  ); /* background-image: 
		url(/images/topgraphy-background-by-pikisuperstar.svg);
	background-position: center;
	background-size: cover; 
	background-size: 100%;
	background-repeat: no-repeat; */
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.9);
}

h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 2rem;
  color: white;
}

button:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.1);
}

.btn {
  font-weight: 700;
}

.btn-outline-warning {
  background-color: rgb(247, 247, 247);
  color: rgb(255, 185, 35);
  border-color: rgb(255, 185, 35);
}

.btn-outline-danger {
  background-color: rgba(128, 128, 128, 0.1);
}

.height-fix {
  height: 100vh;
}

.alert {
  margin-top: 51px;
}

.main-body {
  margin-top: 51px;
}
/* 
.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(227, 231, 240, 0.9);
} */

/* Navbar */

.navbar {
  flex-wrap: nowrap;
  width: 100%;
  background: rgba(227, 231, 240, 0.9);
  opacity: 85%;
  text-shadow: none;
  height: 51px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-brand i {
  font-size: 1.4rem;
  transform: translateY(-11%);
}

/* Hamburger */

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: rgb(69, 69, 69);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
  z-index: 9999;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

.nav-open .hamburger {
  background: black;
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  background: black;
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  background: black;
  opacity: 0;
  /* transform: rotate() */
}

/*    Index Page   */

/*    JumboTron    */

.jumbotron {
  height: 100%;
  width: 100%;
  color: white;
  background: url('https://images.unsplash.com/photo-1544187989-1f95cb59f593?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1331&q=80');
  /* url("../images/CampsiteVector1.png"); */
  /* url('/images/topgraphy-background-by-pikisuperstar.svg'); */
  background-color: #5c5c5cb2;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.7);
}

.jumbotron h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 2.5rem;
  opacity: 80%;
  text-shadow: 1px 2px 4px #181818e0;
}

/*    Search Body    */

.search-body {
  max-width: 1800px;
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 2rem;
  }

  .search-description {
    width: 80%;
    min-width: 280px;
    max-width: 960px;
    background: #fdfdfde0;
    border-radius: 10px;
    margin: 0 auto 2rem;
    padding: 1rem 2rem 2rem;
    text-align: center;

    & > * {
      padding: 0 0 1rem 0;
    }
    h1 {
      color: #212529;
    }

    hr {
      margin: 0;
    }

    p {
      margin-bottom: 0;
      padding: 0 0 1rem 0;
      max-width: 860px;
      &:last-child {
        padding: 0;
      }
    }
  }

  .badges {
    width: 90vw;
    max-width: 1800px;
    margin: 0 auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      padding: 0 2rem;

      li {
        // display: inline-block;
        padding: 0.5rem 0.8rem;
        transition: transform 350ms cubic-bezier(0.5, 0, 0.5, 1),
          opacity 550ms ease-in-out;
        svg {
          width: 3rem;
          height: 3rem;
          opacity: 0.65;
        }
        &:hover,
        &:focus {
          transform: scale(1.5);
          opacity: 1;
        }
      }
    }
  }

  .search-form {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0.5rem;
    .form-group > * {
      font-size: 0.85rem;
    }
  }

  .form-row {
    margin: 0 auto;
    justify-content: center;
  }

  .form-group select {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  @media (max-width: 790px) {
    .search-description {
      padding: 1.5rem 1rem;
      margin: 0 auto 1rem;
    }
  }

  @media (max-width: 590px) {
    .search-description {
      text-align: center;
    }
  }
  @media (max-width: 390px) {
    .badges {
      display: none;
    }
  }
}

.description-images {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;

  .description-img {
    height: 200px;
    width: 30%;
    overflow: hidden;
    object-position: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

/***       Camp Cards       ***/

.campcard:hover,
.campcard:focus {
  transform: scale(1.03);
  opacity: 1;
}

.campcards {
  width: 90%;
  min-width: 300px;
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
}

.campcard {
  font-size: 1rem;
  min-width: 350px;
  max-width: 450px;
  max-height: 400px;
  padding: 0;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  background: #fdfdfd;
  overflow: hidden;
  opacity: 0.9;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 350ms linear;
}

// @media (max-width: 930px) {
//   .campcards {
//     justify-content: center;
//   }
// }

.card-body {
  padding: 1rem 0;
}

.campcard img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  background: rgba(162, 224, 215, 0.5);
  border: 1px solid #949494;
  border-radius: 15px;
}
.card-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.card-body {
  overflow: hidden;
  font-size: 0.8em;
  text-align: justify;
}

.card-body h2 {
  font-size: 1.5em;
}

/* Show Campground */

.showpage {
  max-width: 1500px;

  .card {
    background: #edeeff;
  }
}

.campsite-title {
  color: black;
  margin: 1rem auto;
  text-align: center;
}

.accordion button {
  width: 100%;
}

.camp-info {
  -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 0;
  background: rgba(248, 254, 253, 0.95);
  width: 90%;
  margin: 0.5em auto;
  text-align: center;

  button {
    text-shadow: none;
  }
}

#headingFour {
  & > * {
    margin: 0.5rem auto;
  }
}

.campsite-description {
  padding: 1em;
  text-align: center;

  p,
  text {
    text-align: start;
    margin: 2em auto;
  }

  h1,
  h2,
  h3 {
    color: black;
    margin: 1rem auto;
  }

  h2 {
    text-decoration: underline;
  }
  img {
    width: 90%;
    height: 90%;
    margin: 2em auto;
  }
}

/*  Carousel  */

.carousel-inner img {
  height: 500px;
  object-fit: cover;
}

#carousel {
  width: 90%;
  margin: 1em auto;
}

/* google maps */

#map {
  min-height: 400px;
  width: 100%;
  margin: 1em auto;
}

.map-box {
  /* max-height: 500px; */
  /* width: 80%; */
  margin: 0 auto;

  .mapboxgl-popup-content {
    opacity: 0.85;
    font-size: 0.6rem;
    b {
      font-size: 0.85rem;
    }
    hr {
      margin: 0.4rem auto;
    }
  }
}

.delete-form {
  display: inline;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  /* .campcards {
		flex-direction: column;
		justify-content: center;
	} */
  /* .thumbnail img {
		height: 100%;
	} */
}

/* Collapsible Menu */

@media (max-width: 765px) {
  .offcanvas-collapse {
    position: fixed;
    top: 51px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #f8f9faf3;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-35%);
    transform: translateX(-35%);
  }
}

@media (max-width: 390px) {
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

// .nav-footer {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   list-style-type: none;
//   margin: 0 auto;
//   padding: 0;
// }

// .nav-footer li svg {
//   height: 2rem;
//   width: 2rem;
// }

// @media (max-width: 390px) {
//   .nav-footer {
//     display: none;
//   }
// }

/* @media (max-width: 973px) {
	.nav-footer li  svg {
		height: 2rem;
		width: 2rem;
	}
} */

/***       Favorites Page       ***/

.favorites-list {
  -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 0;
  background: rgba(248, 254, 253, 0.95);
  width: 90%;
  margin: 0.5em auto;
}

.favorites-list .card-body {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.favorite-item:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.07);
}
