<%- include("../partials/header") %>
<h1><%=user.username%> Profile</h1>
<h2>My Favorite campgrounds</h2>

<div class="row">
  <div class="col-md-4">

  </div>
</div>

<%- include("../partials/footer") %>